

:root {
  --background: #1f0d47;
  --foreground: #171717;
}

@import "tailwindcss";
@plugin "daisyui";

body {
  color: #fff;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.title {
  @apply md:text-3xl text-[22px] font-bold bg-gradient-to-r from-[#632EE3]  dark:from-purple-500  to-orange-900  dark:to-orange-400  bg-clip-text text-transparent
}

.sub-title {
  @apply md:text-xl text-lg font-semibold
}